# Data Processing
pandas==2.1.4
numpy>=1.26.2
scikit-learn==1.3.2

# Deep Learning & NLP
# Lưu ý: Với máy không có GPU, cài bản CPU để nhẹ máy
torch>=2.4.0
transformers>=4.45.0
datasets>=2.18.0

# Language Detection
langdetect==1.0.9

# Web Framework
streamlit==1.31.0

# Model Serialization
joblib>=1.3.0

# API Server
fastapi==0.115.12
uvicorn==0.49.0

# Web Scraping
requests>=2.31.0
beautifulsoup4>=4.12.0  l 